---
---

@import "{{ site.theme }}";

.page-header{
    padding: 0;
    background-image: url(https://www.transparenttextures.com/patterns/bright-squares.png), linear-gradient(120deg, #155799, #159957);
}

h1{
    text-align: center;
}

//h1 + ul{
//    position: relative;
//    left: 30%;
//}

.menu, footer{
    text-align: center;
}

.menu > a{
    display: block;
    font-size: 1.4em;
}

.menu > a:hover{
    text-decoration: none;
    background-image: radial-gradient(circle, rgba(170,187,238,0.4) 0%, rgba(255,255,255,0) 100%);
}
